.header__lang-link {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 28px;
  color: white;
}

.header__lang-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}
