@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  max-width: 1184px;
  min-height: 671px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    max-width: 928px;
    min-height: 942px;
    grid-gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-grid {
    max-width: 720px;
    min-height: 1664px;
    grid-gap: 16px;
    margin-top: 88px;
  }
}


@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    max-width: 288px;
    min-height: 2724px;
    grid-gap: 12px;
    margin-top: 64px;
  }
}
